---
layout: base
title: Metrics Glossary
permalink: /glossary/
---

<div class="grid-container">
    <div class="description-styling">
        <div class="usa-prose">
            {% renderDocs "MetricsGlossary.md" %}
        </div>
    </div>
</div>