---
layout: base
---

<div class="grid-container">
  <div class="description-styling">
    <h2>Resources</h2>
  </div>
  <p>The Centers for Medicare and Medicaid Services is dedicated to providing resources about metrics</p>
  <ul class="resources-list" style="list-style: none; padding: 0; text-align: center;">
    <li>
        <a href="{{ "/glossary/" | url }}" style="text-decoration: none; color: inherit;"><h2>Glossary</h2></a>
    </li>
    <li>
        <a href="{{ "/list-of-metrics/" | url }}" style="text-decoration: none; color: inherit;"><h2>List of Metrics</h2></a>
    </li>
  </ul>
</div>